.calc-container {
    margin-top: 100px;
    text-align: center;
    border-radius: 4px;
    background: #9FC5FF;
    padding: 5px;
}

.calc-container .row {
    margin: 0;
}

.calc-container .row > div {
    padding: 2px;
}

.calc-container .row > div > div{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: context-menu;
    background: #fcfcfc;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

.calc-container .row > div > div:hover {
    background: #eee;
}

.calc-container .row > div > .pressed {
    background: #bbb !important;
}

#result {
    text-align: right;
    padding-right: 15px;
    background: #fff!important;
}
