<!DOCTYPE html>
<html lang="cs" ng-app="CA">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Calculator Aligator</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-xs-12 calc-container" ng-controller="CAController">
                    <div class="row">
                        <div class="col-lg-9 col-xs-9">
                            <div id="result" ng-model="displayValue">{{result}}</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickClear()">c</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickNum(7)">7</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickNum(8)">8</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickNum(9)">9</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickOperator('+')" id="plus-btn" class="non-inverse">+</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickNum(4)">4</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickNum(5)">5</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickNum(6)">6</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickOperator('-')">-</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickNum(1)">1</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickNum(2)">2</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickNum(3)">3</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickOperator('*')">*</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickNum(0)">0</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickPoint()">.</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickCalculate()">=</div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div ng-click="onClickOperator('/')">/</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/CA.js"></script>
        <script src="js/UI.js"></script>
    </body>
</html>
